/*body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
*/
body {
    background-color: #fc0;
    padding: 20px;
    margin: 0;
}

h1,
h2,
li,
p,
ul {
    font-family: Helvetica, Arial, sans-serif
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0
}

ul.header {
    background-color: #111;
    padding: 0
}

ul.header li a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    display: inline-block
}

.content {
    background-color: #fff;
    padding: 20px;
	text-align: left;    	
	min-height: 100%;
	margin-bottom: 100px;
}

.content h2 {
    padding: 0;
    margin: 0
}

.content li {
    margin-bottom: 10px
}

.active {
    background-color: gray
}

.fade-enter {
    opacity: 0;
    z-index: 1
}

.fade-enter.fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in
}

.footer {
  /*position: absolute;*/
/*  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 1rem;
  margin-top: 20px ;
  background-color: #efefef;
  text-align: center;
}

span{
	display: inline-block;
	vertical-align: middle;
}
/*# sourceMappingURL=main.f9fea2b0.css.map*/


.fixed_footer{
  width: 100%;
  height: 100px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
  color: white;
  text-align: center;
  vertical-align: middle;
}
   .fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
  }



.footer-grid {
	display: grid;
	grid-template-rows: 33.3% 33.3% 33.3%;
}  
/* footer-flex used to align a single item at the center*/
.footer-flex {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}


/*To Do List CSS*/

input {
  height: 2.5rem;
  padding: 0 1rem;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
  margin: 0.5rem;
}
input[type="submit"] {
  background: #bada55;
  color: #313c0d;
  border: none;
  padding: 0.5rem 2rem;
  height: 2.5rem;
}
input[type="submit"]:hover {
  background: #b2d540;
}

li.todo {
  cursor: pointer;
  position: relative;
  color: #666;
  padding: 0.1rem 0;
}
li.todo:hover {
  color: #ff6347;
  list-style: none;
}
li.todo:hover:before {
  content: 'x';
  position: absolute;
  left: -21px;
  top: 4px;
  color: #fff;
  background: #ff6347;
  height: 14px;
  width: 14px;
  font-size: 11px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
}
hr {
  border: none;
  border-top: solid 1px #e6e6e6;
  margin: 2rem 0;
}
p.todo {
  background: #edf5d3;
  border: solid 1px #d3e894;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 0.95rem;
  line-height: 1.3;
  color: #75901f;
}
